<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello!</title>
    <meta name="description" content="description"/>
    <meta name="author" content="author" />
    <meta name="keywords" content="keywords" />
    <link rel="stylesheet" href="./stylesheet.css" type="text/css" />
    <style type="text/css">.body { width: auto; }</style>
  </head>
  <body>
     <a>this is home  page!</a>
     <p>
     <a href="https://djangolearn1.yunfengwu.repl.co/weblist/linkinput/" >go to input page</a>
     </p>
    <p>
    <a href="https://djangolearn1.yunfengwu.repl.co/weblist/linkdisplay">
      go to list page
    </a>
    </p>
     <p>
    <a href="https://djangolearn1.yunfengwu.repl.co/admin/">
      go to admin page
    </a>
    </p>
    <p>
    <a href="https://djangolearn1.yunfengwu.repl.co/weblist/youtubelist">
      go to youtube list page
    </a>
    </p>
  </body>
</html>